<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>
        <nav th:replace="fragments :: topnav"></nav>

        <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

        <ul th:each="cheese : ${cheeses}">
            <li th:text="${cheese.name}"></li>
        </ul>
        <p><a th:href="'/menu/add-item/' + ${menuId}">Add Cheese</a></p>
    </body>
</html>